DATABASE_URL="postgresql://neilmorrison@localhost:5432/homies?schema=public"
NEXT_PUBLIC_SUPABASE_URL=https://vjyqdvrbgsfknpbhfhns.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqeXFkdnJiZ3Nma25wYmhmaG5zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUzNTc5NTgsImV4cCI6MjAzMDkzMzk1OH0.uqFqRgJhdtnfc72MR5AO727y9jp8mwLiE45qfrBTmaU